{% extends "HaynnerClientBundle::layout.html.twig" %}

{% block title %}
  Ajouter un client - {{ parent() }}
{% endblock %}

{% block body %}
	<p>
		Modification du client {{ client.nom }} {{ client.prenom }}
	</p>

	{% include "HaynnerClientBundle:Default:formulaire.html.twig" %}
{% endblock %}